name: Terraform CI

on:
  pull_request:
    paths:
      - 'terraform/**'
  push:
    branches: ["**"]

jobs:
  pre-commit:
    name: Pre-commit checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.0
      - name: Install pipx
        run: sudo apt-get update && sudo apt-get install -y pipx

      - name: Install terraform-docs
        run: |
          wget https://github.com/terraform-docs/terraform-docs/releases/download/v0.17.0/terraform-docs-v0.17.0-linux-amd64.tar.gz
          tar -xzf terraform-docs-v0.17.0-linux-amd64.tar.gz
          sudo mv terraform-docs /usr/local/bin/
      - name: Run pre-commit
        run: pipx run pre-commit run --all-files
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.0

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -input=false
